# -----------------------------------------------------------------------------
# НАСТРОЙКИ ПРОЕКТА DJANGO
# -----------------------------------------------------------------------------

# Название проекта
PROJECT_NAME="dds-service"

# Описание проекта
PROJECT_DESCRIPTION="ДДС (движение денежных средств) — это процесс учета, управления и анализа
поступлений и списаний денежных средств компании или частного лица."

# Режим отладки (True/False)
DEBUG=True

# Секретный ключ Django (должен быть случайным и длинным в production)

SECRET_KEY="django-insecure-b!il*+qn_a4p$+#49cgd)^urfb!-hlg7q-$8&&1cwadg+smx89"

# Список разрешённых хостов
HOSTS="localhost,127.0.0.1,0.0.0.0,[::1]"

# -----------------------------------------------------------------------------
# НАСТРОЙКИ ЛОКАЛИЗАЦИИ
# -----------------------------------------------------------------------------

# Временная зона Django
DJANGO_TIME_ZONE="Europe/Moscow"

# -----------------------------------------------------------------------------
# НАСТРОЙКИ БАЗЫ ДАННЫХ
# -----------------------------------------------------------------------------

# Тип базы данных (sqlite, postgres, mysql и т.д.)
DATABASE_TYPE="postgres"

# Движок базы данных Django
SQL_ENGINE="django.db.backends.postgresql_psycopg2"

# Настройки PostgreSQL
POSTGRES_USER="dds_user"
POSTGRES_PASSWORD="dds_password"
POSTGRES_DB="dds_database"
POSTGRES_HOST="postgres"
POSTGRES_PORT="5432"
SQL_OPTIONS="-c search_path=public"

# -----------------------------------------------------------------------------
# НАСТРОЙКИ СУПЕРПОЛЬЗОВАТЕЛЯ DJANGO
# -----------------------------------------------------------------------------

DJANGO_SUPERUSER_USERNAME="admin"
DJANGO_SUPERUSER_PASSWORD="admin"
DJANGO_SUPERUSER_EMAIL="admin@example.com"

# -----------------------------------------------------------------------------
# ПРОЧИЕ НАСТРОЙКИ
# -----------------------------------------------------------------------------
ENV=development
LOG_LEVEL=INFO
