{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <h1 class="h3 mb-3">{% trans "Reference management" %}</h1>

  <div class="list-group">
    <a class="list-group-item list-group-item-action" href="{% url 'references:status_list' %}">{% trans "Statuses" %}</a>
    <a class="list-group-item list-group-item-action" href="{% url 'references:operation_type_list' %}">{% trans "Operation types" %}</a>
    <a class="list-group-item list-group-item-action" href="{% url 'references:category_list' %}">{% trans "Categories" %}</a>
    <a class="list-group-item list-group-item-action" href="{% url 'references:subcategory_list' %}">{% trans "Subcategories" %}</a>
  </div>
{% endblock %}
